.container {
  background: #ffe url(../public/img/fade.png) top repeat-x;
  color: #800;
}

.doc {
  margin: auto;
  text-align: left;
  width: 57.69em;
  min-width: 750px;
  height: 1500px;
}

.hd {
  margin-bottom: 0;
}

.logo {
  font-size: 1px;
  line-height: 0;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}